<section class="justify-content-center">
    <nav class="navbar navbar-light bg-primary">
        <div class="container-fluid">
            <h1 class="d-flex" style="color: aliceblue;">Angular Material Management</h1>
        </div>
    </nav>
</section>
<section class="bg-info">
    <button class="btn btn-primary m-3" [routerLinkActive]="['activeLink']" [routerLink]="['login']">
        Homepage
    </button>
    <button class="btn btn-primary m-3" [routerLinkActive]="['activeLink']" [routerLink]="['showMaterial']">
        Show Material
    </button>
    <button class="btn btn-primary m-3" [routerLinkActive]="['activeLink']" [routerLink]="['addMaterial']">
        Add Material
    </button>

</section>

<router-outlet></router-outlet>
<section class="bg-info d-flex justify-content-center" style="width: 100%; height: 60px; background-color: rgba(0,0,255,0.1);">
    <h4 class="mt-3">Material Management Dashboard</h4>
</section>